@font-face {
  font-family: "ALSHauss";
  src: url(./assets/font/ALSHauss-Black.woff2);
}

#root {
  // max-width: 1280px;
  // margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
  max-width: 700px;
}
.diagram-container {
  position: relative;
  width: 533px;
  height: 533px;
  max-width: 533px;
  max-height: 533px;
  margin: 50px auto;
}
.circle,
.outer-circle {
  border: 2.35px solid #adadad;
  width: 533px;
  height: 533px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  position: absolute;
  // left: 0;
  // right: 0;
  // margin: 0 auto;
  top: 0;
}
.block {
  width: 50%;
  position: absolute;
  left: 0;
}
.name {
  font-family: "ALSHauss";
  font-weight: 700;
  font-size: 10px;
  line-height: 13.28px;
  position: absolute;
  width: 80px;
  padding: 3px 5px;
  text-align: right;
}
.skill {
  position: absolute;

  width: 27.53px;
  height: 27.53px;
  border-radius: 50%;
  background: #ffd4ad;
}
.skill_name {
  color: #adadad;
}
.skill.active {
  background: #ff7a00;

  .skill_name {
    color: #3a3a3a;
  }
}
.role-circl {
  background: #adadad;
  border-radius: 50%;
  width: 23.7px;
  height: 23.7px;
  top: -38.89px;
  left: -572.69px;
  position: absolute;
  z-index: 9;
  cursor: pointer;
  &:hover{
    background: #848383;

  }
}
.role-circl.active {
  .name {
    padding: 3px 5px;
    border-radius: 6px;
    border: 1px solid #f4f4f4;
    background: #ffffff80;
  }
  background: #00a372;
  &::after {
    content: "";
    width: 33.71px;
    height: 33.71px;
    position: absolute;
    top: -6px;
    left: -6px;
    border-radius: 50%;
    border: 1px solid #00a372;
  }
}
.min_circle,
.inner-circle {
  width: 256px;
  height: 256px;
  border: 2.35px solid #adadad;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25%;
}
.lines {
  position: absolute;
  // z-index: 99;
  left: 0;
  top: 0;
  g {
    path {
      fill: transparent !important;

      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: Lines 3s linear forwards;
    }
  }
}
.animate_name {
   animation: animationTxt 2s linear forwards;
}
@keyframes Lines {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animationTxt {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
